/*Sergey Ustsilka 2019*/

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/AlegreyaSans-Black.eot');
    src: url('../font/AlegreyaSans-Black.eot?#iefix') format('embedded-opentype'),
    url('../font/AlegreyaSans-Black.woff2') format('woff2'),
    url('../font/AlegreyaSans-Black.woff') format('woff'),
    url('../font/AlegreyaSans-Black.ttf') format('truetype'),
    url('../font/AlegreyaSans-Black.svg#AlegreyaSans-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Alegreya Sans';
    src: url('../font/AlegreyaSans-Medium.eot');
    src: url('../font/AlegreyaSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('../font/AlegreyaSans-Medium.woff2') format('woff2'),
    url('../font/AlegreyaSans-Medium.woff') format('woff'),
    url('../font/AlegreyaSans-Medium.ttf') format('truetype'),
    url('../font/AlegreyaSans-Medium.svg#AlegreyaSans-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

*{
    font-family: 'Roboto', sans-serif;
    color: #4b4b4b;
}
body{margin: 0}
.hidden{
    overflow: hidden;
}
#shadow{
    background: rgba(0,0,0,0.7);
    position: fixed;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    display: none;
}
#contact-form{
    z-index: 101;
    position: fixed;
    top: 30%;
    background: #fff;
    max-width: 400px;
    width: 100%;
    padding: 25px;
    left: calc(50% - 200px);
    border-radius: 3px;
    display: none;
}
    #contact-form h2{
        font-size: 24px;
        text-align: center;
        margin: 15px 0;
    }
        #contact-form form{}
            #contact-form form input{
                padding: 15px;
                font-size: 16px;
                width: 100%;
                box-sizing: border-box;
                margin: 0 0 15px 0;
                border-radius: 3px;
                border:1px solid #e0e0e0;
            }
            #contact-form form button{
                color: #4a4a4a;
                margin: 0 auto;
                cursor: pointer;
                border: 1px solid #e0e0e0;
                border-radius: 10px;
                cursor: pointer;
            }
         #close-form{
             position: absolute;
             right: 10px;
             top:10px;
             font-size: 18px;
             font-weight: bold;
             cursor: pointer;
         }
.btn{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    color:#fff;
    padding: 17px 40px;
    border:1px solid #fff;
    background: rgba(256,256,256,0.2);
    text-decoration: none;
    transition: 0.5s ease-in-out;
}
.btn:hover{
    background: #fff;
    color: #757572;
}
.container{
    max-width: 1170px;
    width: 100%;
    padding: 0 15px;
    margin:  0 auto;
    box-sizing: border-box;

}
.title{
    font-size: 30px;
    color:#4a4a4a;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
}
.right-line,.left-line{
    background: #e9e9e4;
    max-width: 960px;
    width: 50%;
    height: 3px;
    position: absolute;
    top:0;
}
.right-line{
    right: 0;
}
.left-line{
    left: 0;
}
header{
}
    header nav{
        display: flex;
        padding: 25px 0;
        justify-content: flex-end;
    }
    header nav a{
        display: inline-block;
        font-size: 16px;
        font-weight: bold;
        text-decoration: none;
        padding-left: 80px;
        text-transform: uppercase;
    }
    header:after{
        content: '';
        display: inline-block;
        background: url("../img/head_border.png") repeat-x;
        background-size: 100%;
        height: 20px;
        width: 100%;
        margin-bottom: -4px;
    }

main{}
    .first_slider{
        position: relative;
        width: 100%;
        overflow: hidden
    }
        .first_slider .slide{
            height: 510px;
            background-position: 50% 25%;
            background-size: cover;
        }
            .first_slider .slide div{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                height: 100%;
                width: 100%;
            }
            .first_slider .slide h2{
                max-width: 615px;
                text-align: center;
                font-size: 48px;
                font-family: 'Alegreya Sans';
                font-weight: 500;
                text-transform: uppercase;
                color:#fff;
            }
                .first_slider .slide h2 b{
                    font-weight: 900;
                    color:#fff;
                }
    .first_slider .slick-dots{
        position: absolute;
        bottom: 22px;
    }
        .first_slider .slick-dots li{
            padding-right: 5px;
        }

            .first_slider .slick-dots li button{
                padding: 0;
                width: 12px;
                height: 12px;
                background: #fff;
                border-radius: 50%;
            }
            .first_slider .slick-dots li.slick-active button{
                background: #928f7a;
            }
            .first_slider .slick-dots li button:before{display: none}

    .galery{
        position: relative;
        margin-top: 96px;
        padding-top: 92px;
    }
        .galery .galery_list{
            display: flex;
            justify-content: space-between;
            margin: 50px 0 100px 0;
        }
            .galery .galery_list .galery_list_item{
                max-width: 270px;
                width: 100%;
            }
                .galery .galery_list .galery_list_item img{
                    display: inline-block;
                }
                .galery .galery_list .galery_list_item h3{
                    text-transform: uppercase;
                    font-size: 16px;
                    margin: 15px 0;
                }
                .galery .galery_list .galery_list_item p{
                    font-size: 14px;
                    font-weight: bold;
                }
     .about_us{
         position: relative;
     }
        .about_us .container{
            display: flex;
            justify-content: space-between;
            padding: 93px 0 106px;
        }
        .about_us .about_us_text{
            margin-right: 30px;
        }
            .about_us .about_us_text{
                text-align: center;
                font-size: 18px;
                font-weight: 100;
            }
        .about_us .about_us_images{
            font-size: 1px;
            display: flex;
            justify-content: space-between;
        }
            .about_us .about_us_images .big_img{
                margin-right: 10px;
            }

    .contacts{
        position: relative;
    }
        .contacts .container{
            padding: 96px 0 100px 0;
        }
            .contacts .container .contacts_box{
                display: flex;
                justify-content: space-between;
                margin-top: 50px;
            }
                .contacts .container .contacts_box .contacts_box_text{
                    margin-right: 45px;
                }
                    .contacts .container .contacts_box .contacts_box_text p{
                        font-size: 18px;
                        font-weight: 100;
                        text-align: center;
                        margin: 0;
                    }
                        .contacts .container .contacts_box .contacts_box_text p a{
                            text-decoration: none;
                            font-size: 18px;
                        }
                    .contacts .container .contacts_box .contacts_box_map{
                        max-width: 550px;
                        width: 100%;
                    }
    footer{}
        footer nav{
            display: flex;
            justify-content: center;
            padding: 25px 0;
            background: #4b4b4b;
        }
            footer nav a{
                font-size: 16px;
                font-weight: bold;
                padding-right: 80px;
                color: #fff;
                text-transform: uppercase;
                text-decoration: none;
            }
            footer nav a:hover{
                color:#767676;
            }

@media (min-width: 481px)  and (max-width : 780px) {
    .about_us_text{
        padding: 0 15px;
        margin-right: 0!important;
    }
    .galery .galery_list, .about_us .container{
        flex-direction: column;
        align-items: center;
    }
    .about_us_images{
        justify-content: center!important;
    }
    .small_images{
        max-width: 210px;
    }

    .contacts .container .contacts_box .contacts_box_map{
        min-width: 300px;
    }
    .contacts .container .contacts_box{
        padding:  0 15px;
    }

}
@media only screen  and (max-width : 480px) {
    .galery .galery_list, .about_us > div, .about_us_images, .contacts .container .contacts_box{
        flex-direction: column;
        align-items: center;
    }
    .galery .galery_list .galery_list_item{
        margin-bottom: 20px;
    }
    .first_slider .slide h2{
        font-size: 35px;
    }
    #contact-form{
        max-width: 320px;
        left: calc(50% - 160px);
        box-sizing: border-box;
    }
    #contact-form h2{
        font-size: 20px;
    }
    header{
        position: fixed;
        top:0;
        width: 100%;
        z-index: 99;
        background: #fff;
    }
    header .container{
        padding: 0;
    }
    header:after{
        margin-bottom: -6px;
        display: none;
    }
    header nav , footer nav{
        justify-content: center;
    }
    header nav a{
        font-size: 13px;
        padding-left: 26px;
    }
         footer nav a{
             font-size: 13px;
             padding-right: 15px;
         }

    header nav a:first-child{
        padding: 0;
    }
    main{
        margin-top: 84px;
    }
    .galery{
        margin-top: 58px;
        padding-top: 40px;
    }
    .galery .galery_list{
        margin-bottom: 50px;
    }
    .about_us .container{
        padding: 40px 0 50px 0;
    }
    .about_us .about_us_text{
        margin-right: 0;
        padding: 0 15px;
        font-size: 17px;
    }
    .about_us .about_us_images .big_img{
        margin-right: 0;
    }
    .about_us .about_us_images .big_img img{
        width: 100%;
    }

    .small_images{
        padding:  16px;
    }
    .small_images img{
        width: 50%;
        vertical-align: top;
    }
    .contacts .container{
        padding: 40px 0 50px 0;
    }
    .contacts_box_text{
        margin-right: 0!important;
        padding: 0 15px;
        margin-bottom: 20px;
    }
    .contacts .container .contacts_box{
        padding:  0 15px;
    }
}


